flows (34).json
{"flows":[{"id":"a78de61f.d61008","type":"REST API","z":"a548474.8bb6fb8","ebname":"REST API","isDebugEnabled":"true","url":"https://sit-ragservice.enterprisebot.co/answer","method":"post","ret":"txt","authType":"basic","dataTable":"{\"X-API-Key\":{\"type\":\"direct\",\"value\":\"e95997a5-3aac-40fd-bd2c-2a791ad07433\"}}","formData":"{}","filename":"","filepath":"","dataTableParam":"{}","payloadRaw":"{\n  \"llm\": \"azure-gpt3.5-turbo-0613\" , \n\n  \"search_params\": \n{\n    \"agentId\": $botId  ,\n    \"text\":  $question ,\n    \"langId\": \"en\",\n    \"topK\": 5,\n    \"indexId\": $latestIndexId ,\n    \"method\":\"gpt_mix_train_faq+para\",\n    \"type\": \"semantic\"\n  },\n  \"sessionId\": $sessionId  ,\n\"messageId\" : $botMessageId ,\n  \"intro\": \"You are a virtual assistant of Dunzo, created by Enterprise Bot with chatgpt. Reply only through Dunzo. Always reply as Dunzo's chatbot. Do not refer to Dunzo as 'he' or 'him'. Keep your answers short and to the point.If you provide a list, it should contain no more than five points. Limit your answers to 500 characters. If you refer to the Dunzo website or a document for further information. NEVER do mathematical calculations, write poems or stories, or give advice or information that has nothing to do with Dunzo. The source of each fact must be correct. It's a matter of life or death.please be serious, Please don't give any reponse a part from user query.\",\n\"conditions\" : [\"allow_links\", \"use_titles\"]\n}","payloadRaw2":"{\n  \"llm\": \"azure-gpt3.5-turbo-0613\" , \n\n  \"search_params\": \n{\n    \"agentId\": $botId  ,\n    \"text\":  $question ,\n    \"langId\": \"en\",\n    \"topK\": 5,\n    \"indexId\": $latestIndexId ,\n    \"method\":\"gpt_mix_train_faq+para\",\n    \"type\": \"semantic\"\n  },\n  \"sessionId\": $sessionId  ,\n\"messageId\" : $botMessageId ,\n  \"intro\": \"You are a virtual assistant of Dunzo, created by Enterprise Bot with chatgpt. Reply only through Dunzo. Always reply as Dunzo's chatbot. Do not refer to Dunzo as 'he' or 'him'. Keep your answers short and to the point.If you provide a list, it should contain no more than five points. Limit your answers to 500 characters. If you refer to the Dunzo website or a document for further information. NEVER do mathematical calculations, write poems or stories, or give advice or information that has nothing to do with Dunzo. The source of each fact must be correct. It's a matter of life or death.please be serious, Please don't give any reponse a part from user query.\",\n\"conditions\" : [\"allow_links\", \"use_titles\"]\n}","payloadType":"raw","upload":"false","useAuth":false,"access_token_url":"","grant_type":"","client_id":"amrit+samteam@enterprisebot.org","scope":"","oauth2Request":"","mappedVars":"{}","allVars":"[{\"value\":\"latestIndexId\",\"path\":\"latestIndexId\"},{\"value\":\"question\",\"path\":\"question\"},{\"value\":\"botId\",\"path\":\"botId\"},{\"value\":\"botMessageId\",\"path\":\"botMessageId\"},{\"value\":\"reply\",\"path\":\"reply\"},{\"value\":\"sessionId\",\"path\":\"sessionId\"}]","rules":[{"t":"else"}],"outputs":1,"x":675,"y":180,"wires":[["a09d1b15.2c3a58"]]},{"id":"a09d1b15.2c3a58","type":"switch","z":"a548474.8bb6fb8","name":"","ebname":"Switch","isDebugEnabled":"true","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":855,"y":180,"wires":[["2c1ff09a.9f55c"],["9278566c.eeb7d8"]]},{"id":"3d77d275.90e1de","type":"function","z":"a548474.8bb6fb8","name":"","ebname":"fallback reply","isDebugEnabled":"true","func":"msg.payload =\n{\n   \"type\":\"simpleMessage\",\n   \"message\": $reply,\n   \"kbId\": \"657bef6d3f0d7d3edb47ef3f\"\n}\nreturn msg;","outputs":1,"mappedVars":"[{\"value\":\"question\",\"path\":\"question\"},{\"value\":\"botId\",\"path\":\"botId\"},{\"value\":\"sessionId\",\"path\":\"sessionId\"},{\"value\":\"botMessageId\",\"path\":\"botMessageId\"},{\"value\":\"latestIndexId\",\"path\":\"latestIndexId\"}]","noerr":0,"x":1335,"y":390,"wires":[["1c41014e.d363df"]]},{"id":"87c15c34.cff5f","type":"function","z":"a548474.8bb6fb8","name":"","ebname":"check fallback","isDebugEnabled":"true","func":"let data = msg.payload.answer\n\nif(data.includes(\"FALLBACK\"))\n{\n    return [msg, null]\n}\nelse{\n    return [null, msg]\n}\n","outputs":2,"mappedVars":"[{\"value\":\"botMessageId\",\"path\":\"botMessageId\"},{\"value\":\"sessionId\",\"path\":\"sessionId\"},{\"value\":\"message\",\"path\":\"message\"},{\"value\":\"reply\",\"path\":\"reply\"}]","noerr":0,"x":1320,"y":80,"wires":[["9278566c.eeb7d8"],["e8dd16e6.d12f98"]]},{"id":"1c41014e.d363df","type":"API response","z":"a548474.8bb6fb8","variable":"payload","ebname":"API response","isDebugEnabled":false,"x":1635,"y":180,"wires":[]},{"id":"e8dd16e6.d12f98","type":"function","z":"a548474.8bb6fb8","name":"","ebname":"Function","isDebugEnabled":"true","func":"let answer = msg.payload.answer;\n\n\nurls = msg.payload.search_results;\nanswer = answer.replace(/<p>/g, '<li>').replace(/<\\/p>/g, '</li>');\n//answer = `<ul>${newStr}</ul>`;\n//answer = answer.replace(/\\[/g, '');\n\nif(urls.length>0 && msg.payload.are_refs == true){\n answer += \"<br>\" + \"<br>\"+ \"<b>References: </b><br>\";\nurls.forEach(url => {\n    answer += `<ul><li><a href=${url[\"pred_url\"]} target=\"_blank\">${url[\"title\"]}</a></li></ul>`;\n})\n}\n\n// answer += '<newMessage> .'\nanswer = '<ai>' + answer;\n\nmsg.payload ={\n   \"type\":\"simpleMessage\",\n   \"message\": answer,\n   \"suggestions\": [],\n   \"showTextArea\": true,\n   \"modelName\":\"docbrain+ChatGPT\",\n   \"kbId\": \"657bef6d3f0d7d3edb47ef3f\"\n}\n\nreturn msg;","outputs":1,"mappedVars":"[{\"value\":\"question\",\"path\":\"question\"},{\"value\":\"botId\",\"path\":\"botId\"},{\"value\":\"botMessageId\",\"path\":\"botMessageId\"},{\"value\":\"reply\",\"path\":\"reply\"},{\"value\":\"sessionId\",\"path\":\"sessionId\"},{\"value\":\"latestIndexId\",\"path\":\"latestIndexId\"}]","noerr":0,"x":1655,"y":80,"wires":[["88276cf9.eddad"]]},{"id":"88276cf9.eddad","type":"API response","z":"a548474.8bb6fb8","variable":"payload","ebname":"API response","isDebugEnabled":"false","x":1915,"y":80,"wires":[]},{"id":"2c1ff09a.9f55c","type":"switch","z":"a548474.8bb6fb8","name":"","ebname":"Switch","isDebugEnabled":"false","property":"payload.hallucinated_links","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1035,"y":140,"wires":[["87c15c34.cff5f"],["3d77d275.90e1de"]]},{"id":"9278566c.eeb7d8","type":"function","z":"a548474.8bb6fb8","name":"","ebname":"Status code reply","isDebugEnabled":"true","func":"msg.payload =\n{\n   \"type\":\"simpleMessage\",\n   \"message\": $reply ,\n   \"kbId\": \"657bef6d3f0d7d3edb47ef3f\"\n}\nreturn msg;","outputs":1,"mappedVars":"[{\"value\":\"question\",\"path\":\"question\"},{\"value\":\"botId\",\"path\":\"botId\"},{\"value\":\"botMessageId\",\"path\":\"botMessageId\"},{\"value\":\"_msgid\",\"path\":\"_msgid\"},{\"value\":\"reply\",\"path\":\"reply\"},{\"value\":\"latestIndexId\",\"path\":\"latestIndexId\"}]","noerr":0,"x":1380,"y":180,"wires":[["1c41014e.d363df"]]},{"id":"faaac2ca.9339a","type":"REST API","z":"a548474.8bb6fb8","ebname":"REST API","isDebugEnabled":"false","url":"http://sit-msdocbrain.enterprisebot.co/api/v1/kb/66c6ebfcdddf692f38946574?indexOnly=true","method":"get","ret":"txt","authType":"basic","dataTable":"{\"X-API-Key\":{\"type\":\"direct\",\"value\":\"e5b2df8f-8494-43f5-9cbe-503c10dadd67\"}}","formData":"{}","filename":"","filepath":"","dataTableParam":"{}","payloadRaw":"","payloadRaw2":"","payloadType":"","upload":"false","useAuth":false,"access_token_url":"","grant_type":"","client_id":"amrit+samteam@enterprisebot.org","scope":"","oauth2Request":"","mappedVars":"{\"latestIndexId\":{\"key\":\"latestIndexId\",\"flow\":false,\"var_name\":\"latestIndexId\",\"object\":\"latestIndexId : 657bef6d3f0d7d3edb47ef3f_1702888250\"}}","allVars":"[{\"value\":\"question\",\"path\":\"question\"},{\"value\":\"botId\",\"path\":\"botId\"},{\"value\":\"botMessageId\",\"path\":\"botMessageId\"},{\"value\":\"reply\",\"path\":\"reply\"},{\"value\":\"sessionId\",\"path\":\"sessionId\"}]","rules":[{"t":"else"}],"outputs":1,"x":475,"y":180,"wires":[["a78de61f.d61008"]]},{"id":"2c20d4e4.86db2c","type":"comment","z":"a548474.8bb6fb8","name":"Please don't make any changes.","ebname":"Comment","info":"","x":720,"y":60,"wires":[]},{"id":"58d49764.cc0558","type":"comment","z":"a548474.8bb6fb8","name":"Docbrain flow","ebname":"Comment","info":"","x":465,"y":150,"wires":[]},{"id":"2cb15e1c.b42462","type":"chatbot-question","z":"a548474.8bb6fb8","name":"Enter your age.","ebname":"Ask User","editableName":"Ask User","isDebugEnabled":"false","url":"https://test-app.blitzi.co/blitz1524c4c5e6b04223914d5caca7b939d1","suggestions":"[\"26\",\"12\"]","method":"get","upload":"false","mappedVars":"[{\"value\":\"latestIndexId\",\"path\":\"latestIndexId\"},{\"value\":\"question\",\"path\":\"question\"},{\"value\":\"botId\",\"path\":\"botId\"},{\"value\":\"botMessageId\",\"path\":\"botMessageId\"},{\"value\":\"reply\",\"path\":\"reply\"},{\"value\":\"sessionId\",\"path\":\"sessionId\"}]","outputs":2,"showTextArea":true,"outputVar":"","regexes":"[{\"operation\":\"gte\",\"value\":\"18\"},{\"operation\":\"else\",\"value\":\"\"}]","fallback":"","isChanged":"false","x":560,"y":360,"wires":[["c4b864dc.1f9178"],["2d3c3ded.3fe542"]]},{"id":"1a70d989.19d6a6","type":"Trigger via API","z":"a548474.8bb6fb8","ebtinReq":"{\"id\":\"90e7563.fb854a8\",\"label\":\"Trigger via API\",\"_msgid\":\"ca0a4237.8f252\",\"headers\":{\"host\":\"test-app.blitzi.co\",\"x-request-id\":\"7fd7b4986237d95df326301fd4b2765b\",\"x-real-ip\":\"10.48.19.20\",\"x-forwarded-for\":\"10.48.19.20\",\"x-forwarded-host\":\"test-app.blitzi.co\",\"x-forwarded-port\":\"443\",\"x-forwarded-proto\":\"https\",\"x-forwarded-scheme\":\"https\",\"x-scheme\":\"https\",\"content-length\":\"3151\",\"accept\":\"application/json, text/plain, */*\",\"content-type\":\"application/json\",\"api-key\":\"6RTKERK5CRV36SHG65HKJCSPC4T3ARV669GKACBW64VK0CHP68RK0CSN6MV30\",\"user-agent\":\"axios/1.7.3\",\"accept-encoding\":\"gzip, compress, deflate, br\"},\"url\":\"/blitz48e5e7edab4d47a981d74338e3f5bbe8\",\"method\":\"POST\",\"statusCode\":null,\"statusMessage\":null,\"baseUrl\":\"\",\"originalUrl\":\"/blitz48e5e7edab4d47a981d74338e3f5bbe8\",\"params\":{},\"query\":{},\"route\":{\"path\":\"/blitz48e5e7edab4d47a981d74338e3f5bbe8\",\"stack\":[{\"name\":\"cookieParser\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"httpMiddleware\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"corsHandler\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"metricsHandler\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"jsonParser\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"urlencodedParser\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"multipartParser\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"rawBodyParser\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"<anonymous>\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"<anonymous>\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"}],\"methods\":{\"post\":true}},\"cookies\":{},\"payload\":{\"refreshKey\":true,\"message\":\"what can you offer?\",\"agentId\":\"657bef63f01c936a45cf2a51\",\"anonimize\":false,\"__sessionMeta\":{\"docbrainLLMConfig\":{\"llm\":\"azure-gpt3.5-turbo-16k-0613\",\"method\":\"gpt_mix_train_faq+para\",\"type\":\"semantic\",\"intro\":\"You are a virtual assistant of Dunzo, created by Enterprise Bot with chatgpt. Reply only through Dunzo. Always reply as Dunzo's chatbot. Do not refer to Dunzo as 'he' or 'him'. Keep your answers short and to the point.If you provide a list, it should contain no more than five points. Limit your answers to 500 characters. If you refer to the Dunzo website or a document for further information. NEVER do mathematical calculations, write poems or stories, or give advice or information that has nothing to do with Dunzo. The source of each fact must be correct. It's a matter of life or death.\",\"conditions\":[\"all\"],\"flowservice_fallback_event\":\"\",\"show_reference_urls\":true,\"topk_urls\":4,\"isgallerycard\":true,\"button_title\":\"View More\",\"topk_gpt\":5,\"enable_are_refs\":false,\"ref_title\":\"References\",\"reset_context\":true,\"llm_anonimize\":false,\"hallucinated_links_enable\":true,\"hallucinated_links_event\":\"\",\"modelName\":\"docbrain,chatGPT\",\"enable_context\":false,\"context_length\":10,\"enable_slack\":false,\"slackId\":\"\",\"show_score\":false,\"guardrails\":{\"input_rules\":{\"input_length\":{\"max_length\":100},\"prompt_injection\":{\"threshold\":0.4},\"restricted_phrase\":{\"entities\":[],\"enable\":true},\"abbreviations\":{\"entities\":[],\"enable\":false}},\"output_rules\":{\"prompt_leak\":{\"threshold\":0.5},\"restricted_phrase\":{\"entities\":[],\"enable\":true}}}},\"userInit\":true,\"userSource\":\"webpage\",\"channel\":\"chatbot\",\"source\":\"blitzico\"},\"_msgid\":\"bc1631f0-f56a-4417-8814-888ca31c24af:c8fea42a-16b0-401e-b21e-c859c5408d2a\",\"params\":{},\"userId\":\"bc1631f0-f56a-4417-8814-888ca31c24af\",\"roomId\":\"657bef63f01c936a45cf2a51:c8fea42a-16b0-401e-b21e-c859c5408d2a\",\"botMessageId\":\"66c47383085b8d182d011a41\",\"response\":{\"action\":\"blitz48e5e7edab4d47a981d74338e3f5bbe8\",\"actionUrlVerified\":true,\"name\":\"default_fallback\",\"displayName\":\"default_fallback\",\"agentId\":\"657bef63f01c936a45cf2a51\",\"eventName\":\"default_fallback\",\"priority\":3,\"replies\":[\"I'm sorry, I did not understand that. Could you please rephrase the question?\"],\"suggestions\":[],\"replyObj\":[],\"context\":{\"currentTopic\":[],\"nextTopic\":[],\"_id\":\"657bef68f01c936a45cf2d2f\"},\"tags\":[],\"createdOn\":\"2023-12-14T14:20:00.576Z\",\"updatedOn\":\"2023-12-14T14:20:00.576Z\",\"flowId\":\"\",\"actionType\":\"blitzico\",\"blitzicoName\":\"testapp\",\"blitzicoUrl\":\"https://test-app.blitzi.co\",\"engine\":\"event\",\"intentId\":\"657bef68f01c936a45cf2d30\",\"resolvedParams\":{},\"intentComplete\":true,\"alternates\":[],\"eventTrigger\":\"NO_ENGINE_REPLY\",\"resolvedConvoParams\":{},\"meta\":{\"replyFromCtx\":false,\"orgMsgUsed\":false,\"orgMsgGen\":true,\"originalMsg\":\"what can you offer?\",\"message\":\"what can you offer?\",\"mlThreshold\":0.9,\"occEnabled\":false,\"occThreshold\":0.85},\"resolvedContextParams\":{},\"source\":\"hybrid\",\"botMessageId\":\"66c47383085b8d182d011a41\",\"sessionId\":\"c8fea42a-16b0-401e-b21e-c859c5408d2a\",\"userId\":\"bc1631f0-f56a-4417-8814-888ca31c24af\",\"entityResponse\":{},\"abbreviations\":[],\"userMsg\":\"what can you offer?\"}}}","mappedVars":"{\"question\":{\"key\":\"payload.message\",\"flow\":false,\"var_name\":\"question\",\"object\":\"message : dunzo\"},\"botId\":{\"key\":\"payload.agentId\",\"flow\":false,\"var_name\":\"botId\",\"object\":\"agentId : 657bef63f01c936a45cf2a51\"},\"botMessageId\":{\"key\":\"payload.botMessageId\",\"flow\":false,\"var_name\":\"botMessageId\",\"object\":\"botMessageId : 66b0b3ab6bd9ab4889afb972\"},\"reply\":{\"key\":\"payload.response.replies.0\",\"flow\":false,\"var_name\":\"reply\",\"object\":\"0 : I'm sorry, I did not understand that. Could you please rephrase the question?\"},\"sessionId\":{\"key\":\"payload._msgid\",\"flow\":false,\"var_name\":\"sessionId\",\"object\":\"_msgid : bc1631f0-f56a-4417-8814-888ca31c24af:c8fea42a-16b0-401e-b21e-c859c5408d2a\"}}","url":"https://test-app.blitzi.co/blitz1eaa4e31bc274450a36934814f5fa79b","method":"post","swaggerDoc":"","upload":"false","ebname":"Trigger via API","isDebugEnabled":"true","x":255,"y":180,"wires":[["faaac2ca.9339a"]]},{"id":"a63989ba.c11e28","type":"Trigger via API","z":"a548474.8bb6fb8","ebtinReq":"{}","mappedVars":"{\"_msgid\":{\"key\":\"payload._msgid\",\"flow\":false,\"var_name\":\"_msgid\",\"object\":\"_msgid : undefined\"}}","url":"https://test-app.blitzi.co/blitzc45658bd05184f6389dda2950c51e8f3","method":"post","upload":false,"ebname":"Trigger via API","isDebugEnabled":false,"x":315,"y":360,"wires":[["2cb15e1c.b42462"]]},{"id":"c4b864dc.1f9178","type":"chatbot-question","z":"a548474.8bb6fb8","name":"Congrats! <newMessage> You are eligible.","ebname":"Ask User","editableName":"Ask User","isDebugEnabled":"false","url":"https://test-app.blitzi.co/blitze584e46b3e7545458c869cc6c12e1f41","suggestions":"[]","method":"get","upload":"false","mappedVars":"[{\"value\":\"latestIndexId\",\"path\":\"latestIndexId\"},{\"value\":\"question\",\"path\":\"question\"},{\"value\":\"botId\",\"path\":\"botId\"},{\"value\":\"botMessageId\",\"path\":\"botMessageId\"},{\"value\":\"reply\",\"path\":\"reply\"},{\"value\":\"sessionId\",\"path\":\"sessionId\"}]","outputs":0,"showTextArea":true,"outputVar":"","regexes":"[]","fallback":"","isChanged":"false","x":810,"y":330,"wires":[]},{"id":"2d3c3ded.3fe542","type":"chatbot-question","z":"a548474.8bb6fb8","name":"Sorry! <newMessage> You are not eligible.","ebname":"Ask User","editableName":"Ask User","isDebugEnabled":"false","url":"https://test-app.blitzi.co/blitz5e971474ae5a4f9c8646566d1a2b0e40","suggestions":"[]","method":"get","upload":"false","mappedVars":"[{\"value\":\"latestIndexId\",\"path\":\"latestIndexId\"},{\"value\":\"question\",\"path\":\"question\"},{\"value\":\"botId\",\"path\":\"botId\"},{\"value\":\"botMessageId\",\"path\":\"botMessageId\"},{\"value\":\"reply\",\"path\":\"reply\"},{\"value\":\"sessionId\",\"path\":\"sessionId\"}]","outputs":0,"showTextArea":true,"outputVar":"","regexes":"[]","fallback":"","isChanged":"false","x":810,"y":390,"wires":[]}],"adhoc_msg":{"a548474.8bb6fb8":{"a78de61f.d61008":{},"faaac2ca.9339a":{"latestIndexId":{"key":"latestIndexId","flow":false,"var_name":"latestIndexId","object":"latestIndexId : 657bef6d3f0d7d3edb47ef3f_1702888250"}},"1a70d989.19d6a6":{"question":{"key":"payload.message","flow":false,"var_name":"question","object":"message : dunzo"},"botId":{"key":"payload.agentId","flow":false,"var_name":"botId","object":"agentId : 657bef63f01c936a45cf2a51"},"botMessageId":{"key":"payload.botMessageId","flow":false,"var_name":"botMessageId","object":"botMessageId : 66b0b3ab6bd9ab4889afb972"},"reply":{"key":"payload.response.replies.0","flow":false,"var_name":"reply","object":"0 : I'm sorry, I did not understand that. Could you please rephrase the question?"},"sessionId":{"key":"payload._msgid","flow":false,"var_name":"sessionId","object":"_msgid : bc1631f0-f56a-4417-8814-888ca31c24af:c8fea42a-16b0-401e-b21e-c859c5408d2a"}},"2cb15e1c.b42462":{},"c4b864dc.1f9178":{},"2d3c3ded.3fe542":{},"a6fb7227.93cb8":{"0":{"key":"payload.__sessionMeta.docbrainLLMConfig.conditions.0","flow":false,"var_name":"0","object":"0 : allow_links"},"id":{"key":"id","flow":false,"var_name":"id","object":"id : a6fb7227.93cb8"},"label":{"key":"label","flow":false,"var_name":"label","object":"label : Trigger via API"},"_msgid":{"key":"payload._msgid","flow":false,"var_name":"_msgid","object":"_msgid : d0eeea5d-68d3-408c-817c-c98cc24a6625:a6a494e8-5263-4896-abd9-8a239f7ef6d5"},"url":{"key":"url","flow":false,"var_name":"url","object":"url : /blitz143783fc7de448038845daf19ab500dd"},"method":{"key":"route.stack.1.method","flow":false,"var_name":"method","object":"method : post"},"originalUrl":{"key":"originalUrl","flow":false,"var_name":"originalUrl","object":"originalUrl : /blitz143783fc7de448038845daf19ab500dd"},"path":{"key":"route.path","flow":false,"var_name":"path","object":"path : /blitz143783fc7de448038845daf19ab500dd"},"name":{"key":"route.stack.1.name","flow":false,"var_name":"name","object":"name : httpMiddleware"},"name1":{"key":"route.stack.2.name","flow":false,"var_name":"name1","object":"name : corsHandler"},"name2":{"key":"route.stack.3.name","flow":false,"var_name":"name2","object":"name : metricsHandler"},"name3":{"key":"route.stack.4.name","flow":false,"var_name":"name3","object":"name : jsonParser"},"name4":{"key":"route.stack.5.name","flow":false,"var_name":"name4","object":"name : urlencodedParser"},"name5":{"key":"route.stack.6.name","flow":false,"var_name":"name5","object":"name : multipartParser"},"method3":{"key":"route.stack.6.method","flow":false,"var_name":"method3","object":"method : post"},"name6":{"key":"route.stack.7.name","flow":false,"var_name":"name6","object":"name : rawBodyParser"},"7name":{"key":"route.stack.8.name","flow":false,"var_name":"7name","object":"name : <anonymous></anonymous>"},"refreshKey":{"key":"payload.refreshKey","flow":false,"var_name":"refreshKey","object":"refreshKey : true"},"message":{"key":"payload.message","flow":false,"var_name":"message","object":"message : aa"},"agentId":{"key":"payload.response.agentId","flow":false,"var_name":"agentId","object":"agentId : 66bb0949087bc527dc12a911"},"llm":{"key":"payload.__sessionMeta.docbrainLLMConfig.llm","flow":false,"var_name":"llm","object":"llm : azure-gpt3.5-turbo-0613"},"method22":{"key":"payload.__sessionMeta.docbrainLLMConfig.method","flow":false,"var_name":"method22","object":"method : gpt_mix_train_faq+para"},"type":{"key":"payload.__sessionMeta.docbrainLLMConfig.type","flow":false,"var_name":"type","object":"type : semantic"},"intro":{"key":"payload.__sessionMeta.docbrainLLMConfig.intro","flow":false,"var_name":"intro","object":"intro : You are a virtual assistant of EB, created by Enterprise Bot with chatgpt. Reply only through EB. Always reply as EB's chatbot. Do not refer to EB as 'he' or 'him'. Keep your answers short and to the point.If you provide a list, it should contain no more than five points. Limit your answers to 500 characters. If you refer to the EB website or a document for further information, include a relevant link. NEVER do mathematical calculations, write poems or stories, or give advice or information that has nothing to do with EB. The source of each fact must be correct. It's a matter of life or death."},"show_reference_urls":{"key":"payload.__sessionMeta.docbrainLLMConfig.show_reference_urls","flow":false,"var_name":"show_reference_urls","object":"show_reference_urls : true"},"topk_urls":{"key":"payload.__sessionMeta.docbrainLLMConfig.topk_urls","flow":false,"var_name":"topk_urls","object":"topk_urls : 3"},"button_title":{"key":"payload.__sessionMeta.docbrainLLMConfig.button_title","flow":false,"var_name":"button_title","object":"button_title : View More"},"topk_gpt":{"key":"payload.__sessionMeta.docbrainLLMConfig.topk_gpt","flow":false,"var_name":"topk_gpt","object":"topk_gpt : 5"},"ref_title":{"key":"payload.__sessionMeta.docbrainLLMConfig.ref_title","flow":false,"var_name":"ref_title","object":"ref_title : References"},"reset_context":{"key":"payload.__sessionMeta.docbrainLLMConfig.reset_context","flow":false,"var_name":"reset_context","object":"reset_context : true"},"llm_anonimize":{"key":"payload.__sessionMeta.docbrainLLMConfig.llm_anonimize","flow":false,"var_name":"llm_anonimize","object":"llm_anonimize"},"hallucinated_links_enable":{"key":"payload.__sessionMeta.docbrainLLMConfig.hallucinated_links_enable","flow":false,"var_name":"hallucinated_links_enable","object":"hallucinated_links_enable : true"},"hallucinated_links_event":{"key":"payload.__sessionMeta.docbrainLLMConfig.hallucinated_links_event","flow":false,"var_name":"hallucinated_links_event","object":"hallucinated_links_event"},"modelName":{"key":"payload.__sessionMeta.docbrainLLMConfig.modelName","flow":false,"var_name":"modelName","object":"modelName : docbrain,chatGPT"},"enable_context":{"key":"payload.__sessionMeta.docbrainLLMConfig.enable_context","flow":false,"var_name":"enable_context","object":"enable_context"},"context_length":{"key":"payload.__sessionMeta.docbrainLLMConfig.context_length","flow":false,"var_name":"context_length","object":"context_length : 10"},"userInit":{"key":"payload.__sessionMeta.userInit","flow":false,"var_name":"userInit","object":"userInit : true"},"userSource":{"key":"payload.__sessionMeta.userSource","flow":false,"var_name":"userSource","object":"userSource : webpage"},"channel":{"key":"payload.__sessionMeta.channel","flow":false,"var_name":"channel","object":"channel : chatbot"},"source":{"key":"payload.__sessionMeta.source","flow":false,"var_name":"source","object":"source : blitzico"},"userId":{"key":"payload.response.userId","flow":false,"var_name":"userId","object":"userId : d0eeea5d-68d3-408c-817c-c98cc24a6625"},"roomId":{"key":"payload.roomId","flow":false,"var_name":"roomId","object":"roomId : 66bb0949087bc527dc12a911:a6a494e8-5263-4896-abd9-8a239f7ef6d5"},"botMessageId":{"key":"payload.response.botMessageId","flow":false,"var_name":"botMessageId","object":"botMessageId : 66cf1309085b8d182d0144e7"},"displayName":{"key":"payload.response.displayName","flow":false,"var_name":"displayName","object":"displayName : Blitzico"},"createdOn":{"key":"payload.response.createdOn","flow":false,"var_name":"createdOn","object":"createdOn : 2024-08-09T07:25:14.947Z"},"updatedOn":{"key":"payload.response.updatedOn","flow":false,"var_name":"updatedOn","object":"updatedOn : 2024-08-09T07:25:14.947Z"},"action":{"key":"payload.response.action","flow":false,"var_name":"action","object":"action : blitz143783fc7de448038845daf19ab500dd"},"actionType":{"key":"payload.response.actionType","flow":false,"var_name":"actionType","object":"actionType : blitzico"},"blitzicoName":{"key":"payload.response.blitzicoName","flow":false,"var_name":"blitzicoName","object":"blitzicoName : Test app"},"blitzicoUrl":{"key":"payload.response.blitzicoUrl","flow":false,"var_name":"blitzicoUrl","object":"blitzicoUrl : https://test-app.blitzi.co"},"flowId":{"key":"payload.response.flowId","flow":false,"var_name":"flowId","object":"flowId"},"score":{"key":"payload.response.score","flow":false,"var_name":"score","object":"score : 5.6744676"},"intentId":{"key":"payload.response.intentId","flow":false,"var_name":"intentId","object":"intentId : 66bb0cd7087bc527dc12b1fd"},"engine":{"key":"payload.response.engine","flow":false,"var_name":"engine","object":"engine : es"},"engineType":{"key":"payload.response.engineType","flow":false,"var_name":"engineType","object":"engineType : esData"},"intentComplete":{"key":"payload.response.intentComplete","flow":false,"var_name":"intentComplete","object":"intentComplete : true"},"convo:source":{"key":"payload.response.resolvedConvoParams.convo:source","flow":false,"var_name":"convo:source","object":"convo:source : webpage"},"mlThreshold":{"key":"payload.response.meta.mlThreshold","flow":false,"var_name":"mlThreshold","object":"mlThreshold : 0.3"},"sessionId":{"key":"payload.response.sessionId","flow":false,"var_name":"sessionId","object":"sessionId : a6a494e8-5263-4896-abd9-8a239f7ef6d5"},"userMsg":{"key":"payload.response.userMsg","flow":false,"var_name":"userMsg","object":"userMsg : aa"}},"cd192075.c50da":{"id":{"key":"payload.message.0.id","flow":false,"var_name":"id","object":"id : c7672f7b-2feb-4f1e-a6a5-3f0f1e437572"},"label":{"key":"label","flow":false,"var_name":"label","object":"label : Omega Card"},"_msgid":{"key":"payload._msgid","flow":false,"var_name":"_msgid","object":"_msgid : d0eeea5d-68d3-408c-817c-c98cc24a6625:a6a494e8-5263-4896-abd9-8a239f7ef6d5"},"host":{"key":"headers.host","flow":false,"var_name":"host","object":"host : test-app.blitzi.co"},"x-request-id":{"key":"headers.x-request-id","flow":false,"var_name":"x-request-id","object":"x-request-id : a8da4008edd6c03900cc778c1ed9b559"},"x-real-ip":{"key":"headers.x-real-ip","flow":false,"var_name":"x-real-ip","object":"x-real-ip : 10.48.19.58"},"x-forwarded-for":{"key":"headers.x-forwarded-for","flow":false,"var_name":"x-forwarded-for","object":"x-forwarded-for : 10.48.19.58"},"x-forwarded-host":{"key":"headers.x-forwarded-host","flow":false,"var_name":"x-forwarded-host","object":"x-forwarded-host : test-app.blitzi.co"},"x-forwarded-port":{"key":"headers.x-forwarded-port","flow":false,"var_name":"x-forwarded-port","object":"x-forwarded-port : 443"},"x-forwarded-proto":{"key":"headers.x-forwarded-proto","flow":false,"var_name":"x-forwarded-proto","object":"x-forwarded-proto : https"},"x-forwarded-scheme":{"key":"headers.x-forwarded-scheme","flow":false,"var_name":"x-forwarded-scheme","object":"x-forwarded-scheme : https"},"x-scheme":{"key":"headers.x-scheme","flow":false,"var_name":"x-scheme","object":"x-scheme : https"},"content-length":{"key":"headers.content-length","flow":false,"var_name":"content-length","object":"content-length : 2251"},"accept":{"key":"headers.accept","flow":false,"var_name":"accept","object":"accept : application/json, text/plain, */*"},"content-type":{"key":"headers.content-type","flow":false,"var_name":"content-type","object":"content-type : application/json"},"api-key":{"key":"headers.api-key","flow":false,"var_name":"api-key","object":"api-key : 6RV64RHG74T3JC1R6XH66D9J6XJ66C9JC4WK2CBW64VK4CSN6CSKCD1P6GT3C"},"user-agent":{"key":"headers.user-agent","flow":false,"var_name":"user-agent","object":"user-agent : axios/1.7.4"},"accept-encoding":{"key":"headers.accept-encoding","flow":false,"var_name":"accept-encoding","object":"accept-encoding : gzip, compress, deflate, br"},"url":{"key":"url","flow":false,"var_name":"url","object":"url : /blitza1e38ab9e0eb4221a9d13fab7a5d31b7"},"method":{"key":"method","flow":false,"var_name":"method","object":"method : POST"},"originalUrl":{"key":"originalUrl","flow":false,"var_name":"originalUrl","object":"originalUrl : /blitza1e38ab9e0eb4221a9d13fab7a5d31b7"},"path":{"key":"route.path","flow":false,"var_name":"path","object":"path : /blitza1e38ab9e0eb4221a9d13fab7a5d31b7"},"name1":{"key":"route.stack.0.name","flow":false,"var_name":"name1","object":"name : cookieParser"},"post":{"key":"route.methods.post","flow":false,"var_name":"post","object":"post : true"},"text_field_1":{"key":"payload.message.0.text_field_1","flow":false,"var_name":"text_field_1","object":"text_field_1 : Hello"},"id1":{"key":"payload.message.1.id","flow":false,"var_name":"id1","object":"id : 0735dddf-b6f6-46d4-aaa0-36b1098d3eae"},"email_field_1":{"key":"payload.message.1.email_field_1","flow":false,"var_name":"email_field_1","object":"email_field_1 : a@gmail.com"},"id2":{"key":"payload.message.2.id","flow":false,"var_name":"id2","object":"id : f45a3cac-d006-41d7-88e2-5c023ddb20c0"},"text_area":{"key":"payload.message.2.text_area","flow":false,"var_name":"text_area","object":"text_area : s"},"id11":{"key":"payload.message.3.id","flow":false,"var_name":"id11","object":"id : 37599b71-81b3-4309-90f9-ed4259eb80d1"},"date_picker_1":{"key":"payload.message.3.date_picker_1","flow":false,"var_name":"date_picker_1","object":"date_picker_1 : 28-08-2024"},"id22":{"key":"payload.message.4.id","flow":false,"var_name":"id22","object":"id : 5887cb9c-b279-43d3-910c-9393e03cc60f"},"choose_time_for_update_1":{"key":"payload.message.4.choose_time_for_update_1","flow":false,"var_name":"choose_time_for_update_1","object":"choose_time_for_update_1 : 05:43 PM"},"id33":{"key":"payload.message.5.id","flow":false,"var_name":"id33","object":"id : 823798a1-1175-4eed-8ddf-b0c0c2abdd86"},"id44":{"key":"payload.message.6.id","flow":false,"var_name":"id44","object":"id : c8d5065b-8225-4312-ba25-b02079244360"},"dropdown_select11":{"key":"payload.message.6.dropdown_select","flow":false,"var_name":"dropdown_select11","object":"dropdown_select : Option 2"},"id55":{"key":"payload.message.7.id","flow":false,"var_name":"id55","object":"id : e3115a9a-25d3-45fa-a2c2-7bf0c05c3fae"},"edit_checkbox_question?_1":{"key":"payload.message.7.edit_checkbox_question?_1","flow":false,"var_name":"edit_checkbox_question?_1","object":"edit_checkbox_question?_1 : Button 2"},"id66":{"key":"payload.message.8.id","flow":false,"var_name":"id66","object":"id : ca59f895-1e50-482c-a118-b6690d675e78"},"edit_radio_button_question?_1":{"key":"payload.message.8.edit_radio_button_question?_1","flow":false,"var_name":"edit_radio_button_question?_1","object":"edit_radio_button_question?_1 : Button 2"},"id77":{"key":"payload.message.9.id","flow":false,"var_name":"id77","object":"id : 441fcb21-409f-4bb2-834e-3565a79a6c58"},"text_field_2":{"key":"payload.message.9.text_field_2","flow":false,"var_name":"text_field_2","object":"text_field_2 : ed"},"id88":{"key":"payload.message.10.id","flow":false,"var_name":"id88","object":"id : d27754b0-05a2-443c-b844-3d383cd2282e"},"email_field_2":{"key":"payload.message.10.email_field_2","flow":false,"var_name":"email_field_2","object":"email_field_2 : sd@gmail.com"},"id99":{"key":"payload.message.11.id","flow":false,"var_name":"id99","object":"id : 47b1db58-641d-4f97-b199-ef3451220f30"},"text_area_2":{"key":"payload.message.11.text_area_2","flow":false,"var_name":"text_area_2","object":"text_area_2 : sd"},"id10":{"key":"payload.message.12.id","flow":false,"var_name":"id10","object":"id : c0f4c533-bf15-41f5-b05d-56a3c2446773"},"date_picker_2":{"key":"payload.message.12.date_picker_2","flow":false,"var_name":"date_picker_2","object":"date_picker_2 : 28-08-2024"},"id112":{"key":"payload.message.13.id","flow":false,"var_name":"id112","object":"id : 53105f2c-80eb-4172-a7c0-7f09dfd0ddd5"},"choose_time_for_update_2":{"key":"payload.message.13.choose_time_for_update_2","flow":false,"var_name":"choose_time_for_update_2","object":"choose_time_for_update_2 : 05:43 PM"},"id232":{"key":"payload.message.14.id","flow":false,"var_name":"id232","object":"id : 155ea350-9f91-49ef-97aa-ad366768dfff"},"numeric_field_2":{"key":"payload.message.14.numeric_field_2","flow":false,"var_name":"numeric_field_2","object":"numeric_field_2 : 3"},"id4443":{"key":"payload.message.15.id","flow":false,"var_name":"id4443","object":"id : db283998-5769-4da1-be0d-7e8736c513c2"},"dropdown_select_2":{"key":"payload.message.15.dropdown_select_2","flow":false,"var_name":"dropdown_select_2","object":"dropdown_select_2 : Option 1"},"id432":{"key":"payload.message.16.id","flow":false,"var_name":"id432","object":"id : 65f71847-d2bd-499b-b317-bcb379d3d103"},"edit_checkbox_question?_2":{"key":"payload.message.16.edit_checkbox_question?_2","flow":false,"var_name":"edit_checkbox_question?_2","object":"edit_checkbox_question?_2 : Button 2"},"agentId":{"key":"payload.agentId","flow":false,"var_name":"agentId","object":"agentId : 66bb0949087bc527dc12a911"},"userId":{"key":"payload.userId","flow":false,"var_name":"userId","object":"userId : d0eeea5d-68d3-408c-817c-c98cc24a6625"},"roomId":{"key":"payload.roomId","flow":false,"var_name":"roomId","object":"roomId : 66bb0949087bc527dc12a911:a6a494e8-5263-4896-abd9-8a239f7ef6d5"},"botMessageId":{"key":"payload.response.botMessageId","flow":false,"var_name":"botMessageId","object":"botMessageId : 66cf147bc8d4f0084a6820b8"}}},"latestIndexId":"66c6ebfcdddf692f38946574_1724312709"},"export_type":"selected_nodes","llm_type":"aleph-alpha"}